#########################################
#										#
#	CONFIGURATION for PT-Cracker		#
#										#
#########################################

# Transimission/Upload Rate (KB/s)
#	Rate shouldn't be too high for that no network can reach to 1GB/s, also too low will result in uploaded traffic growing slowly.
#	Recommended: maxRate=10Mb/s  minRate=1Mb/
maxRate=10240
minRate=1024

# Frequency that requests are sent to tracker (seconds), minimal value is 30s (determined by PT-Protocol).
interval=30

# Total traffic should be uploaded (MB)
total=4096

# Directory that stores the torrent files
torrentsDir=torrents